.font-link {
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #5F876F;
}
body {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ion-icon {
  /* font-size: 75px; */
  color: #FDFDFD;
}

.mainNav ul {

  display: flex;
  position: fixed;
  bottom: 0;
}

.mainNav ul {
  text-decoration: none;
  list-style-type: none;
}
/* ****TODO LIST**** */
/* Main Container */
.listToDo {
  color: #FDFDFD;
  border: solid #FDFDFD 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  margin: 50px 50px; /* problem here*/
  height: 600px;
  max-width: 400px;
  border-radius: 5px;
  overflow: scroll; 

}
/* Todo Header */
.todo-head {
  background: #FDFDFD;
  color:#5F876F;
  margin: 10px auto;
  border-radius: 5px; 
  border: solid #FDFDFD;
}
.done-link {
  background: #5F876F;
  color: #fdfdfd;
}
.dummy-done {
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
}
/* Done Header */
.done-head {
  background: #FDFDFD;
  color:#5F876F;
  margin: 10px auto;
  border-radius: 5px; 
  border: solid #FDFDFD;
}
.todo-link {
  background: #5F876F;
  color: #fdfdfd;
}
/* Content */
.todo-row {
  display: flex;
  font-weight:bold;
  margin: 2px auto;
}
.complete {
  text-decoration: line-through;
  opacity: 0.65;
}
.icons {
  margin: 3px;
}
.delete-icon {

}
.edit-icon {

}
/* ****TODO FORM**** */
.todo-form {
  width: 100%;
}

/* Create */
.todo-input {
  width: 75%;
  border: solid #FDFDFD 1px;
  background: #5F876F;
  color: #FDFDFD;
  font-size: 16px;
  margin: 10px;
}
::placeholder {
  color:#FDFDFD;
  opacity: 0.65;
}

.add-todo-button {
  background: #5F876F;
  color:#FDFDFD;
  border: none;
  padding: 2px;

}
/* Edit */
.todo-input-edit {
  border: solid #FDFDFD 1px;
  background: #5F876F;
  color: #FDFDFD;
  font-size: 16px;
}
.todo-button-update{
  background: #FDFDFD;
  border: none;
  margin: 5px;
  color:#5F876F;
  font-size: 16px;
}
