.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color:#efefef;
  background: #516772;
  font-size: 3.5rem;
  box-shadow: 4px 6px 8px #516772;
}

.list-body {
  text-align: left;
}

.add-item {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: #81A6BA;
  border: none;
  color: #efefef;
  padding-top: 10px;
  cursor: pointer;
}